@model Product

<h2>Details for @Model.Name</h2>
<div>
    <strong>Id:</strong>@Model.Id<br>
    <strong>Name:</strong>@Model.Name<br>
    <strong>Cost:</strong>@Model.Cost<br>
    <strong>Description:</strong>@Model.Description<br>
</div>